<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/N/IdeaProjects/TBC_Stage_Two_Selenide/build/reports/tests">
        <classes>
            <class name="com.tbc.qa.tests.TaskOneTest"></class>
            <class name="com.tbc.qa.tests.TaskTwoTest"></class>
        </classes>
    </test>
</suite>